<ion-header>
  <ion-toolbar color="primary">
    <ion-title>PomodoroApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="clock-container">
    <h2 class="current-time">🕒 {{ currentTime }}</h2>

    <div *ngIf="countdownActive">
      <h1>{{ isBreak ? 'Break Time' : 'Work Time' }}</h1>
      <div class="timer">{{ formatTime(remainingTime) }}</div>
    </div>

    <ion-button expand="block" color="success" (click)="startPomodoroCycle()" [disabled]="countdownActive">
      Start Pomodoro Cycle
    </ion-button>
  </div>
</ion-content>
